<!DOCTYPE html>
<html>
<head>
	<title>Elena Frankel</title>
	  <link rel="stylesheet" href="./public/css/about.css">
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> 
  
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway" rel="stylesheet"> 
</head>

<body>

  <!----- Navigation ------>
<div class="top">
  <div class="overlay">
 
 

  <!----heading-------->
      <div class="heading">
         <h1 class="outline">About</h1>
      </div>
    </div>
  </div>

  <div class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/"><img src="../public/images/logowhite.png" alt="Logo" width=30></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="menu collapse navbar-collapse" id="navbarSupportedContent">  
          <ul class="flex-fill justify-content-end navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about">ABOUT</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/properties">PROPERTIES</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>


  <!---------Main-------->
  <div class="main container-fluid">
     <div class="row profile">
       <div class="col-sm-5">
         <div class="img-container">
            <img src="/public/images/Elena.jpg" alt="Elena Frankel" class="elena">
         </div>
      </div>
    
       <div class="col-sm-7"> 
         <p id="info"> Born and raised in Chicago, I love this city and all the variety and excitement it has to offer. After graduating from U of I with a degree in Finance, I raced right back to Chicago and started a career in real estate. The best part of my job is establishing long lasting relationships with clients, and truly becoming a long term resource. Aside from work, I am active exploring activities and new restaurants all over the city, watching the Cubs, and playing with my two cute dogs. </p>
      </div>
    </div>
    <div class="break container-fluid">
    </div>
     <div class="container-fluid" id="main">
   <div class="row client" >
      <div class="col-md-6">
        <h1>Client Focused</h1>
        <p class="content">Connecting with clients and becoming a trusted advocate is the best part of being a real estate agent. Buying and selling property is likely the biggest financial decision a person is making, so I strive to provide the best service to help clients achieve and exceed their real estate goals. </p>
      </div>
       <div class="col-md-6">
         <img src="../public/images/chicago.jpg">
      </div>
    </div>
    <div class="row neighborhood">
      <div class="col-md-6">
        <img src="../public/images/el2.jpg">
      </div>
       <div class="col-md-6">
         <h1>Neighborhood Knowledge</h1>
         <p class="content">As a Chicago native, I love sharing my passion for my city with my clients. Along with a strong financial background and education, I am confident in giving expert advice to both buyers and sellers on pricing and negotiating to get clients a fantastic value as both a buyer or a seller. 
</p>
      </div>
    </div>
    <div class="row experience">
      <div class="col-md-6">
         <h1>Experience and Expertise</h1>
         <p class="content">In an ever evolving market, staying on top of both market trends and technology trends helps my clients stay well informed and involved with the market. Working with a technology focused company, @ properties, allows me to have the most advanced tools on hand to stay on the forefront of the industry. </p>
      </div>
       <div class="col-md-6">
        <img src="../public/images/livingroom2.jpeg">
      </div> 
    </div>  

    </div>

  </div>
  
  
  <!--------Footer------>
  
 <div class="footer">
    <div class="stripe">
      <ul>
        <li>312-857-6290</li>
        <li>|</li>
	<li>elena@elenafrankel.com</li>
	<li>|</li>
	<li>@ properties</li>
      </ul>
    </div>
  </div>
  
  
  
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../public/style.js"></script>


</body>
</html>
