<!DOCTYPE html>
<html>
<head>
	<title>Elena Frankel</title>
	  <link rel="stylesheet" href="./public/css/about.css">
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway" rel="stylesheet"> 
</head>

<body>
  
  <!----- Navigation ------>
<div class="top">
  <div class="overlay">
   <div class="menu">  
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/properties">PROPERTIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
      </li>
    </ul>
   </div>
 

  <!----heading-------->
      <div class="heading">
         <h1>About</h1>
      </div>
    </div
  </div>
  <!---------Main-------->
  <div class="main container-fluid">
    <div class="row profile">
       <div class="col-md-5">
         <div class="img-container">
            <img src="https://m1.cbhomes.com/a/2/25649/nMwSlYF98pyM/profile.jpg" alt="Elena Frankel" class="elena">
         </div>
      </div>
       <div class="col-md-7">
         <p id="info"> Lorem ipsum dolor sit amet, wwwconsectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.</p>
      </div>
    </div>
    <div class="break container-fluid">
    </div>
    <div class="row client">
      <div class="col-md-6">
        <h1>Client Focused</h1>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
      </div>
       <div class="col-md-6">
         <img src="../public/images/chicago.jpg">
      </div>
    </div>
    <div class="row neighborhood">
      <div class="col-md-6">
        <img src="../public/images/el2.jpg">
      </div>
       <div class="col-md-6">
         <h1>Neighborhood Knowledge</h1>
         <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
      </div>
    </div>
    <div class="row experience">
      <div class="col-md-6">
         <h1>Experience and Expertise</h1>
         <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
      </div>
       <div class="col-md-6">
        <img src="../public/images/livingroom2.jpeg">
      </div>
    </div>
  </div>
  
  
  <!--------Footer------>
  
 <div class="footer">
    <div class="stripe">
      <ul>
        <li>312-857-6290</li>
        <li>|</li>
        <li>elena@elenafrankel.com</li>
        <li>|</li>
        <li>compass</li>
      </ul>
    </div>
  </div>
  
  
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>