<!DOCTYPE html>
<html>
<head>
  <title>Elena Frankel</title>
    <link rel="stylesheet" href="./public/css/contact.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> 
  
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway" rel="stylesheet"> 
</head>

<body>
  
<div class="top">
  <div class="overlay">
 

  <!----heading-------->
      <div class="heading">
         <h1 class="outline">Contact</h1>
      </div>
    </div>
  </div>


  <div class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/"><img src="../public/images/logowhite.png" alt="Logo" width=30></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="menu collapse navbar-collapse" id="navbarSupportedContent">  
          <ul class="flex-fill justify-content-end navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
          <!--  <li class="nav-item">
              <a class="nav-link" href="/properties">PROPERTIES</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
  <!---------Main-------->
  
 <div class="header container-fluid main">
   <div class="row">
     <div class="col-md-4 information">
          <h1> Information </h1>
         <ul>
           <li><strong>Elena Frankel</strong></li>
           <li>@ properties</li>          
           <li>p: 312.857.6290</li>
           <li>e: elena@elenafrankel.com</li>
         </ul>
     </div>
     <div class="col-md-8 form">
   <div>
     <h4>Interested in selling, buying, investing, or general inquery?</h4>
        <h6>Let's connect - I'd love to help! </h6>
    <div class="contact">
        
          
        <h6 class="message">{{msg}}</h6>
        
        <form action="/contact" method="post">
           <input type="text" name="name" placeholder="Full Name" required><br>
          <input type="email" name="email" placeholder="Email" required><br>
          <textarea type="text" name="message" placeholder="Message for Elena" required></textarea><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
   </div>
  </div>
</div> 
  
  <!--------Footer------>
  
  <div class="footer">
    <div class="stripe">
      <ul>
        <li>312-857-6290</li>
        <li>|</li>
        <li>elena@elenafrankel.com</li>
       <!-- <li>|</li>
        <li>@ properties</li> -->
      </ul>
    </div>
  </div>
  
  
  
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../public/style.js"></script>

</body>
</html>

