<!DOCTYPE html>
<html>
<head>
	<title>Elena Frankel</title>
	  <link rel="stylesheet" href="./public/css/style.css">
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> 
  
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway|Didact+Gothic" rel="stylesheet"> 

</head>

<body>
<div class="overlay">  

  <!----- Navigation ------>
<div class="top ">
  <div class="overlay">
    <div class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/"></a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="menu collapse navbar-collapse" id="navbarSupportedContent">  
          <ul class="flex-fill justify-content-end navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/properties">PROPERTIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
 

  <!----heading-------->
  <div class="heading">
	  <h1>Elena Frankel</h1>
	  <h2>Chicago Real Estate</h2>
	  <img src="../public/images/logo.png" alt="Logo" width=200>
  
  
  <!--------Footer------>
  
 <div class="footer">
    <div class="stripe">
      <ul>
        <li>312-857-6290</li>
        <li>|</li>
        <li>elena@elenafrankel.com</li>
        <li>|</li>
        <li>compass</li>
      </ul>
    </div>
  </div>
  </div>
  
  </div>  
  

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>