<!DOCTYPE html>
<html>
<head>
  	<title>Elena Frankel</title>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> 
     <link rel="stylesheet" href="./public/css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway|Didact+Gothic" rel="stylesheet"> 

</head>

<body> 

  <!----- Navigation ------>
<div class="top">

 

  <!----heading-------->
  <div class="heading">
    <div class="container body info">
      <h1>Elena Frankel</h1>
	    <h2>Chicago Real Estate</h2>
	    <img src="../public/images/logo.png" alt="Logo">
          <div class="navbar navbar-expand-sm navbar-light">  
        
        <div class="menu" id="navbarSupportedContent">  
          <ul class="flex-fill justify-content-center navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/properties">PROPERTIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	  
  </div>
  
  <!--------Footer------>
  
 {{!-- <div class="footer"> --}}
    {{!-- <div class="stripe">
      <ul>
        <li>312-857-6290</li>
        <li>|</li>
        <li>elena@elenafrankel.com</li>
        <li>|</li>
        <li>compass</li>
      </ul>
    </div> --}}
  {{!-- </div> --}}
  
  
  </div>  
  

<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../public/style.js"></script>


</body>
</html>