<!DOCTYPE html>
<html>
<head>
	<title>Elena Frankel</title>
	  <link rel="stylesheet" href="./public/css/properties.css">
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> 
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Raleway" rel="stylesheet"> 
</head>

<body>
  
  <!----- Navigation ------>
<div class="top">
  <div class="overlay">
   
 
 

  <!----heading-------->
        <div class="heading">
           <h1>Properties</h1>
        </div>
  </div>
</div>
  
 <div class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/"><img src="../public/images/logo.png" alt="Logo" width=50></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="menu collapse navbar-collapse" id="navbarSupportedContent">  
          <ul class="flex-fill justify-content-end navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/properties">PROPERTIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>

  <!---------Main-------->
  <div class="main container-fluid" id="properties">
    <div class="container-fluid" >
      <!-- currently listed -->
     <div class="row"> 
       <h1 class="font header col-md-12">Properties Currently for Sale</h1>
     </div>
     <div class="row property whiteborder ">
       <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <img src="../public/images/belleplaine.jpg" alt="property">
          </div>
          <div class="col-md-6">
            <img src="../public/images/belleplaine2.jpg" alt="property">
          </div>
          <div class="col-md-6">
            <img src="../public/images/belleplaine3.jpg" alt="property">
          </div>
          <div class="col-md-6">
            <img src="../public/images/belleplaine4.jpg" alt="property">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="container info">
          <h1>112 Belleplaine Ave</h1>
          <h2>Park Ridge, IL 60068</h2>
          <h3>$749,000</h3>
          <ul>
            <li>5 BD</li>
            <li>|</li>
            <li>3.5 BA</li>
            <li>|</li>
            <li>3000 Sqft</li>
            <li>|</li>
            <li><button>Listing Page</button></li>
          </ul>
        </div>
      </div>
    </div>

     <div class="row property whiteborder">  
      <div class="col-md-7">
        <div class="container info">
          <h1>112 Belleplaine Ave</h1>
          <h2>Park Ridge, IL 60068</h2>
          <h3>$749,000</h3>
          <ul>
            <li>5 BD</li>
            <li>|</li>
            <li>3.5 BA</li>
            <li>|</li>
            <li>3000 Sqft</li>
            <li>|</li>
            <li><button>Listing Page</button></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <img src="../public/images/belleplaine.jpg" alt="property">
          </div>
          <div class="col-md-6">
            <img src="../public/images/belleplaine2.jpg" alt="property">
          </div>
          <div class="col-md-6">
            <img src="../public/images/belleplaine3.jpg" alt="property">
          </div>
          <div class="col-md-6">
            <img src="../public/images/belleplaine4.jpg" alt="property">
          </div>
        </div>
      </div>
    </div>    
    <!-- Recently Sold -->
    <div class="row"> 
      <h1 class="font header col-md-12">Recent Transactions</h1>
    </div>
    <div class="row property">
      <div class="col-md-4">
        <img src="../public/images/belleplaine.jpg" alt="property">
      </div>
      <div class="col-md-8">
       <div class="container sold">
        <ul>
          <li class="big">SOLD</li>
          <li class="big">|</li>
          <li class="big">Date of Sale</li>
        </ul>
          <h1>112 Belleplaine Ave</h1>
          <h2>Park Ridge, IL 60068</h2>
          <h3>$749,000</h3>
        </div>
      </div>
    </div>
  </div>
</div>

  
  
  <!--------Footer------>
  
  <div class="footer">
    <div class="stripe">
      <ul>
        <li>312-857-6290</li>
        <li>|</li>
        <li>elena@elenafrankel.com</li>
        <li>|</li>
        <li>compass</li>
      </ul>
    </div>
  </div>
  
  
  
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>