* {
  box-sizing: border-box;
}

html{
  background: rgb(15, 15, 15);

}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;

}

::-webkit-scrollbar {
  display: none;
}

/***************NAV*************/

.navbar {
  background: black;
  padding: 0 !important;
  font-size: 0.9rem;
  
}
.navbar-brand{
  padding-left: 20px;
}
.nav-link{
  padding: 0 20px !important;
}

.menu a {
  letter-spacing: 0.4rem;
  outline: none;
    transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

}

.top {
  background: url("../images/livingroom1.jpg") no-repeat;
  background-position: 10% 48%;
  background-size: cover;
}

.overlay {
  background-color: rgba(132, 15, 82, 0.3);
  height: 100%;
}

.heading {
  color: black;
  font-family: "orbitron";
  /* text-shadow: 2px 2px 2px rgba(240, 240, 240, 0.9),
                2px 2px 4px rgba(240, 240, 240, 0.7); */
}

.outline{

    text-shadow:
    -1px -1px 0 rgba(200, 200, 200, 0.6),
    1px -1px 0 rgba(200, 200, 200, 0.6),
    -1px 1px 0 rgba(200, 200, 200, 0.6),
    1px 1px 0 rgba(200, 200, 200, 0.6); 
}

.heading h1 {
  letter-spacing: 1.4rem;

}

/*************Main****************/

.main {
  height: auto;
  margin: 0px;
  display: none;
}

.main img {
  overflow: hidden;
  width: 100%;
  height: auto;
 
}

.main .profile {
  border-bottom: black solid 10px;
  height: auto;
}

.main .elena {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main .col-md-6 {
  padding: 0;
}

.main h1 {
  font-family: "orbitron";
  letter-spacing: 0.25rem;
  padding: 15px 0 0 20px;
}

.main .experience {
  border-bottom: black solid 10px;
}

#main {
  padding: 0;
}


/***************Footer***************/

.footer {
  padding: 30px 0;
  text-align: center;
  display: none;
}

.footer .stripe {
  background-color: rgba(255, 255, 255, 0.3);
}
.footer ul{
  padding: 0;
}
.footer li {
  list-style: none;
  display: inline-block;
  color: black;
}


@media screen and (min-width: 1101px ) {
  .top{
    height: 200px;
  }
  .heading h1{
    font-size: 4.2rem;
    padding-top: 90px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .main #info {
    margin: 5%;
    font-size: 1.4rem;
    padding-top: 30px;
  }
  .main .content{
    font-size: 1.1rem;
    margin: 10% 20px;
  }
  .main .img-container {
    margin: 5% auto;
    max-width: 250px;
  }
  .main h1{
    font-size: 2.0rem;
  }
  .footer li {
    font-size: 1.2rem;
    padding: 0 30px;
    letter-spacing: 0.5rem;
  }

}

@media screen and (max-width: 1100px){
  
  .top{
    height: 200px;
  }
  .heading h1{
    font-size: 4.2rem;
    padding-top: 90px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .main #info {
    margin: 5%;
    font-size: 1.1rem;
    padding-top: 20px;
  }
  .main .img-container {
    margin: 5% auto;
    max-width: 200px;
  }
  .main .content{
    font-size: 0.9rem;
    margin: 6% 20px;
  }
  .main h1{
    font-size: 1.4rem;
   
  }
  .footer li {
    font-size: .85rem;
    padding: 0 12px;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .top{
    height: 120px;
  }
  .heading h1{
    font-size: 2.2rem;
    padding-top: 60px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .main #info {
    margin: 5%;
    font-size: 0.9rem;
    padding-top: 10px;
  }
  .main .img-container {
    margin: 5% auto 0 auto;
    max-width: 150px;
  }
  .main .content{
    font-size: 0.8rem;
    margin: 5% 20px;
  }
  .main h1{
    font-size: 1.1rem;
  }
  .footer li {
    font-size: .7rem;
    padding: 0 5px;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 490px) {
  .heading h1{
    font-size: 1.2rem;
    padding-top: 60px;
    padding-left: 10px;
    letter-spacing: 1rem;
  }
  .main #info {
    margin: 5%;
    font-size: 1rem;
  }
  .footer li {
    font-size: .5rem;
    padding: 0 5px;
    letter-spacing: 0.3rem;
  }
}