* {
  box-sizing: border-box;
}

html{
  background: rgb(15, 15, 15);

}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  

}

/***************NAV*************/
.navbar {
  background-color: black;
  padding: 0 !important;
  font-size: 0.9rem;
}
.navbar-brand{
  padding-left: 20px;
}
.nav-link{
  padding: 0 20px !important;
}

.menu a {
  letter-spacing: 0.4rem;
  outline: none;
    transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

}

.top {
   background: url("../images/livingroom1.jpg") no-repeat;
  background-position: 10% 48%;
  background-size: cover;
}

.overlay {
  background-color: rgba(132, 15, 82, 0.3);
  height: 100%;
}

.heading {
  color: black;
  font-family: "orbitron";
  text-shadow: 0px 0px 6px rgba(240, 240, 240, 0.6),
                0px 2px 8px rgba(240, 240, 240, 0.3);
}

.outline{

  text-shadow:
  -1px -1px 0 rgba(200, 200, 200, 0.6),
  1px -1px 0 rgba(200, 200, 200, 0.6),
  -1px 1px 0 rgba(200, 200, 200, 0.6),
  1px 1px 0 rgba(200, 200, 200, 0.6); 
}

.heading h1 {
  letter-spacing: 1.4rem;
}
/***************main******************/
.main{
  display: none;
}

.information {
  background-color: black;
  color: white;
  padding: 30px 15px;
}

.information h1 {
  font-family: "orbitron", sans-serif;
  letter-spacing: 0.3rem;
  padding-bottom: 15px;
}

.information ul {
  list-style: none;
  letter-spacing: 0.2rem;
  padding: 0;
}

.header {
  margin-top: 0;
  padding: 0;
  font-family: "Raleway";
  height: auto;
  border-bottom: black solid 10px;
}

.header .form {
  letter-spacing: 0.2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.header input {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: white;
}

.header input[type=submit] {
  width: 100%;
  background-color: rgba(132, 15, 82, 0.2);
  color: black;
  border: none;
  cursor: pointer;
}

.header input[type=submit]:hover {
  background-color: rgba(132, 15, 82, 0.1);
}

.header textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: none;
}


.header label {
  font-family: "raleway", sans-serif;
}

.message{
  color: rgb(132, 15, 82);
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 10px;
}

/***************Footer***************/

.footer {
  padding: 30px 0;
  text-align: center;
  display: none;

}

.footer .stripe {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer li {
  list-style: none;
  display: inline-block;
  font-size: 1.2rem;
  color: black;
}

@media screen and (min-width: 1101px ) {
  .top{
    height: 200px;
  }

  .information h1 {
    font-size: 2.4rem;

  }
  .information ul {
    font-size: 0.8rem;
    line-height: 3.0rem;
  }
  .header .form {
    padding: 30px 40px;
    font-size: 0.8rem;
  }
  .header h4{
    font-size: 2rem;
    padding-bottom: 15px;
  }
  .header input {
    padding: 12px 20px;
    margin: 8px auto;
  }
  .header input[type=submit] {
    padding: 14px 20px;
    margin: 8px auto;
  }
  .header .contact {
    padding: 10px 30px;
  }
  .header textarea {
    padding: 12px 20px;
    font-size: 0.8rem;
    margin: 8px auto;
  }

  .heading h1{
    font-size: 4.2rem;
    padding-top: 90px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .footer li {
    font-size: 1.2rem;
    padding: 0 30px;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 1100px){
  .top{
    height: 200px;
  }

  .information h1 {
    font-size: 1.9rem;

  }
  .information ul {
    font-size: 0.7rem;
    line-height: 3.0rem;
  }

  .header .form {
    padding: 30px 30px;
    font-size: 0.8rem;
  }
  .header h4{
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  .header input {
    padding: 12px 20px;
    margin: 8px auto;
  }
  .header input[type=submit] {
    padding: 14px 20px;
    margin: 8px auto;
  }
  .header .contact {
    padding: 10px;
  }
  .header textarea {
    padding: 12px 20px;
    font-size: 0.8rem;
    margin: 8px auto;
  }

  .heading h1{
    font-size: 4.2rem;
    padding-top: 90px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .footer li {
    font-size: .85rem;
    padding: 0 12px;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .top{
    height: 120px;
  }
  .heading h1{
    font-size: 2.2rem;
    padding-top: 60px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .information ul {
    font-size: 0.7rem;
    line-height: 2.0rem;
  }
  
  .footer li {
    font-size: .7rem;
    padding: 0 5px;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 490px) {
  .header .form {
    padding: 15px;
    font-size: 0.6rem;
  }
  .header h4{
    font-size: 1rem;
    padding-bottom: 10px;
  }
  .header h6{
    font-size: 0.8rem;
  }
  .header input {
    padding: 12px 20px;
    margin: 4px auto;
  }
  .header input[type=submit] {
    padding: 14px 20px;
    margin: 4px auto;
  }
  .header .contact {
    padding: 0;
  }
  .header textarea {
    padding: 12px 20px;
    font-size: 0.6rem;
    margin: 4px auto;
  }
  .heading h1{
    font-size: 1.2rem;
    padding-top: 60px;
    padding-left: 10px;
    letter-spacing: 1rem;
  }
  .footer li {
    font-size: .5rem;
    padding: 0 5px;
    letter-spacing: 0.3rem;
  }
}