* {
  box-sizing: border-box;
}

html{
  background: rgb(15, 15, 15);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "raleway", sans-serif;
  font-size: 16px;
}

.font {
  font-family: "orbitron";
  letter-spacing: 0.2rem
}

.raleway {
  font-family: "raleway";
}

/***************NAV*************/

.navbar {
  background-color: black;
  padding: 0 !important;
  font-size: 0.9rem;
}
.navbar-brand{
  padding-left: 20px;
}
.nav-link{
  padding: 0 20px !important;
}

.menu a {
  letter-spacing: 0.4rem;
  outline: none;
    transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;

}

.top {
   background: url("../images/livingroom1.jpg") no-repeat;
  background-position: 10% 48%;
  background-size: cover;
  height: 200px;
}

.overlay {
  background-color: rgba(132, 15, 82, 0.3);
  height: 100%;
}

.heading {
  color: black;
  font-family: "orbitron";
  text-shadow: 0px 0px 6px rgba(240, 240, 240, 0.6),
                0px 2px 8px rgba(240, 240, 240, 0.3);
}
.outline{

  text-shadow:
  -1px -1px 0 rgba(200, 200, 200, 0.6),
  1px -1px 0 rgba(200, 200, 200, 0.6),
  -1px 1px 0 rgba(200, 200, 200, 0.6),
  1px 1px 0 rgba(200, 200, 200, 0.6); 
}

.heading h1 {
  font-size: 4.2rem;
  padding-left: 50px;
  padding-top: 90px;

}

/***************MAIN****************/
.main {
   font-family: "raleway";
   letter-spacing: 0.1em;
   display: none;
}

#properties {
  padding: 0;
}

.main .row .col-md-6 {
  padding: 0 !important;
}
.main .row .col-md-4 {
  padding: 0 !important;
}

.main .property {
  background: black;
}

.main img {
  overflow: hidden;
  width: 100%;
  height: auto;
  border: black solid 15px;
}

.main .info {
  text-align: center;
  color: white;
}

.main .sold {
  text-align: center;
  color: white;
  padding: 3% 20px 0px 20px;
}
.main li {
  display: inline;
}

.whiteborder {
  border-bottom: white 8px solid;
}
.main ul {
  padding: 15px 0 0 0;
}

.main button {
  color: white;
  background-color: black;
  border: solid 2px white;
  padding: 2px 20px;
}

.main button:hover {
  background-color: white;
  color: black;
}

.main .big {
  font-size: 2.5vw
}

/***************Footer***************/

.footer {
  padding: 30px 0;
  text-align: center;
  display: none;

}

.footer .stripe {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer li {
  list-style: none;
  display: inline-block;
  color: black;
}

@media screen and (min-width: 1101px ) {
  .top{
    height: 200px;
  }
  .header {
    padding: 50px 25px;
    text-align: center;
  }
  .heading h1{
    font-size: 4.2rem;
    padding-top: 90px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .main h1 {
    font-size: 2.2rem;
  }
  
  .main h2 {
    font-size: 1.7rem;
    padding: 15px;
  }
  .main h3 {
    font-size: 1.1rem;
  }
  .main li {
    font-size: 0.9rem;
    padding: 5px 2%;
  }
  .main .info {
    padding: 10% 20px 0px 20px;
  }
  .footer li {
    font-size: 1.2rem;
    padding: 0 30px;
    letter-spacing: 0.5rem;
  }

}

@media screen and (max-width: 1100px){
  
  .top{
    height: 200px;
  }
  .heading h1{
    font-size: 4.2rem;
    padding-top: 90px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .header {
    padding: 50px 25px;
    text-align: center;
  }
  .main h1 {
    font-size: 1.8rem;
  }
  
  .main h2 {
    font-size: 1.1rem;
    padding: 15px;
  }
  .main h3 {
    font-size: 0.8rem;
  }
  .main li {
    font-size: 0.6rem;
    padding: 5px 1.5%;
  }
  .main .info {
    padding: 10% 20px 0px 20px;
  }
  .footer li {
    font-size: .85rem;
    padding: 0 12px;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .top{
    height: 120px;
  }
  .main .header {
    padding: 50px 25px;
    text-align: center;
  }
  .heading h1{
    font-size: 2.2rem;
    padding-top: 60px;
    padding-left: 50px;
    letter-spacing: 1.4rem;
  }
  .main h1 {
    font-size: 1.8rem;
  }
  
  .main h2 {
    font-size: 1.1rem;
    padding: 15px;
  }
  .main h3 {
    font-size: 0.8rem;
  }
  .main li {
    font-size: 0.6rem;
    padding: 5px 1.5%;
  }
  .main .info {
    padding: 10% 20px 0px 20px;
  }
  .footer li {
    font-size: .7rem;
    padding: 0 5px;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 490px) {
  .heading h1{
    font-size: 1.2rem;
    padding-top: 60px;
    padding-left: 10px;
    letter-spacing: 1rem;
  }
  .main .header {
    padding: 20px 5px;
    text-align: center;
  }
  .main h1 {
    font-size: 1.2rem;
  }
  
  .main h2 {
    font-size: 0.9rem;
    padding: 15px;
  }
  .main h3 {
    font-size: 0.7rem;
  }
  .main li {
    font-size: 0.5rem;
    padding: 5px 1%;
  }
  .main .info {
    padding: 10% 5px 0px 5px;
  }
  .footer li {
    font-size: .5rem;
    padding: 0 5px;
    letter-spacing: 0.3rem;
  }
}