html { 
    background: url("../images/homescreen.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
  box-sizing: border-box;
  font-size: 16px;
  background: rgba(132, 15, 82, 0.3) center no-repeat !important;
  background-size: cover; 
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.overlay {
  /* background: rgba(132, 15, 82, 0.2) center no-repeat; */
  /* background-size: cover; */
  
}

/***********NAV************/

.menu {
  padding: 30px 0 0 0;
}

.menu a {
  color: black;
  font-size: 1.1rem;
  letter-spacing: 0.7rem;
  padding: 0 30px;
  outline: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  /* text-shadow: 0px 0px 1px rgba(240, 240, 240, 0.6), 
               1px 2px 2px rgba(240, 240, 240, 0.7);  */
}

.menu a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: none;
}

/****************Main***************/

.heading {

  text-align: center;
  padding: 20vh 0 0 0;
  font-family: "Orbitron";
  color: black;
}

.heading h1 {
  font-size: 5.0rem;
  /* text-shadow: 0px 0px 6px rgba(240, 240, 240, 0.6), */
               /* 0px 2px 8px rgba(240, 240, 240, 0.3); */
}

.heading h2 {
  font-size: 2.5rem;
    /* text-shadow: 0px 0px 4px rgba(240, 240, 240, 0.6), */
               /* 0px 2px 6px rgba(240, 240, 240, 0.3); */
}

/***************Footer***************/

.footer {
  padding: 20vh 0 0 0;
  text-align: center;
}

.footer .stripe {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer li {
  list-style: none;
  display: inline-block;
  font-size: 1.1rem;
  color: black;
  letter-spacing: 0.5rem;
  padding: 0 30px;
}